[cfcomponent7] {
    width: 100%;
    height: 100%;
    position: relative;
}

[cfcomponent7] > .tray {
    width: 100%;
    background: linear-gradient(#fff, lightgrey);
    box-shadow: 1px 1px grey;
}

[cfcomponent7] .tray-menu {
    list-style: none;
    padding-left: 5px;
    display: inline-block;
    margin-bottom: 0;
}

[cfcomponent7] .user-icon, [cfcomponent7] .tray-icon {
    color: #48b3ff;
    cursor: pointer;
}

.tray-item-hidden {
    color: midnightblue!important;
}

[cfcomponent7] .tray-menu > li {
    display: inline-block;
    padding: 1px 3px;
    height: 25px;
    cursor: pointer;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}

[cfcomponent7] .tray-menu > li.has-submenu:hover {
    overflow: visible;
    margin-bottom: 0;
}

[cfcomponent7] .tray-menu ul.sub-menu {
    list-style: none;
    padding-top: 26px;
    padding-left: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}

[cfcomponent7] .sub-menu > li {
    cursor: pointer;
}

[cfcomponent7] .tray-menu .sub-menu > li:hover {
    background-color: grey;
    color: #fff;
}

[cfcomponent7] .tray-menu .sub-menu > li {
    background-color: #fff;
    border-bottom: 1px solid grey;
    padding: 3px 16px;
    white-space: nowrap;
}

[cfcomponent7] #main-area {
    position: relative;
    height: 100%;
}

[cfcomponent7] #main-area > .desktop-item {
    position: absolute;
    cursor: pointer;
}

[cfcomponent7] .user-settings {
    display: none;
    position: absolute;
    top: 29px;
    left: 0;
    background-color: #fff;
}

[cfcomponent7] input[type="text"],
[cfcomponent7] input[type="password"],
[cfcomponent7] input[type="email"] {
    padding: .2rem .75rem;
    border-radius: 0;
    line-height: 1;
}

[cfcomponent7] .context-menu, [cfcomponent7] .file-context-menu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    list-style: none;
}

[cfcomponent7] .context-menu > li, [cfcomponent7] .file-context-menu > li {
    background-color: #fff;
    padding: 5px 10px;
    border-bottom: 1px solid grey;
}

[cfcomponent7] ul.file-context-menu > li {
    padding: 1px 22px;
}

[cfcomponent7] .context-menu li:hover, [cfcomponent7] .file-context-menu li:hover {
    cursor: pointer;
    background-color: grey;
}

[cfcomponent7] #background {
    position: absolute;
    display: none;
    width: 40%;
    left: 28%;
    top: 40%;
    background-color: #fff;
}

[cfcomponent7] .desktop-item {
    text-align: center;
    position: absolute;
    display: inline-block;
}
[cfcomponent7] .desktop-item .icon {
    display: block;
    width: 48px;
    height: 48px;
}

[cfcomponent7] .about {
    position: absolute;
    display: none;
    top: 48%;
    width: 33%;
    left: 50%;
    margin-left: -16.5%;
    background-color: white;
}

[cfcomponent7] .desktop-item .text {
    width: 48px;
    display: block;
    word-wrap: break-word;
}
[cfcomponent7] .hidden-item {
    border-bottom: 3px solid midnightblue;
}
[cfcomponent7] .item-selected {
    background-color: rgba(0, 0, 0, 0.6)!important;
}
[cfcomponent7] #main-area > .bottom-tray {
    width: 100%;
    position: absolute;
    bottom: 26px;
}

[cfcomponent7] #main-area .bottom-tray-icon {
    font-size: 24px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    color: rgba(72,179,255,1);
}

[cfcomponent7] #main-area .bottom-tray > .bottom-tray-icon:hover {
    cursor: pointer;
    color: red;
}

[cfcomponent7] .cutted {
    opacity: 0.5;
}

