<i onclick="CFcore.getComponent('CFComponent4').show();" class="fa fa-search search" style="display: none;"></i>
<div class="main">
    <i onclick="CFcore.getComponent('CFComponent4').hide();" class="fa fa-close close"></i>
    <input type="text" class="form-control input" placeholder="Input search query">
    <!--<div class="search-result">-->
        <!--Hello world-->
    <!--</div>-->
</div>