[cfcomponent4] {
    position: absolute;
    width: 33%;
    top: 47%;
    left: 50%;
    margin-left: -16.5%;
    z-index: 9999;
}

[cfcomponent4] .search {
    cursor: pointer;
}

[cfcomponent4] .search {
    color: midnightblue;
    position: fixed;
    line-height: 24px;
    z-index: 8888;
}
[cfcomponent4] .search-result {
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid grey;
}

[cfcomponent4] .input {
    padding: .2rem .75rem;
    border-radius: 0;
    line-height: 1;
}