<div class="tray">
    <ul class="tray-menu">
        <li class="has-submenu">
            <i class="fa fa-user-circle-o user-icon"></i>
            <ul class="sub-menu">
                <li onclick="CFcore.get('desktop').settings();">Settings</li>
                <li onclick="CFcore.get('desktop').logout();">Logout</li>
            </ul>
        </li>
        <li class="about-tray-item">
            <i
                    onclick="CFcore.get('desktop').components.about.run();"
                    class="fa fa-info tray-icon"
                    title="About cloud fun">
            </i>
        </li>
        <li>
            <i class="fa fa-folder tray-icon" title="File manager"></i>
        </li>
        <li>
            <i onclick="CFcore.get('desktop').fullScreen()"
               class="fa fa-arrows-alt tray-icon"
            ></i>
        </li>
        <li>
            <i class="fa fa-download tray-icon" title="Installer"></i>
        </li>
        <!--<li>-->
            <!--<i class="fa fa-cloud tray-icon" title="Program cloud"></i>-->
        <!--</li>-->
    </ul>
</div>
<div id="main-area">
    <div class="bottom-tray">
        <i title="Cloud fun messenger" class="fa fa-envelope bottom-tray-icon" aria-hidden="true"></i>
        <i title="Cloud fun popular files" class="fa fa-star bottom-tray-icon" aria-hidden="true"></i>
    </div>
    <div class="user-settings program-container">
        <div class="CFCore-window-action">
            <div class="title">User settings</div>
            <div class="actions">
                <i
                        onclick="CFcore.getComponent('desktop').hideSettings();"
                        class="fa fa-window-minimize action-hide"
                        aria-hidden="true">
                </i>
                <i
                        onclick="CFcore.getComponent('desktop').fullSettings();"
                        class="fa fa-window-maximize action-maximize"
                        aria-hidden="true">
                </i>
                <i
                        onclick="CFcore.getComponent('desktop').smallSettings();"
                        style="display: none"
                        class="fa fa-window-restore action-minimize"
                        aria-hidden="true">
                </i>
                <i
                        onclick="CFcore.getComponent('desktop').closeSettings();"
                        class="fa fa-window-close action-close"
                        aria-hidden="true">

                </i>
            </div>
        </div>
        <div class="main-window">
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" name="username" readonly>
                    <label for="email">Email</label>
                    <input id="email" type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="new-pass">New password</label>
                    <input id="new-pass" type="password" class="form-control">
                    <label for="pass-confirm">Password confirm</label>
                    <input id="pass-confirm" type="password" class="form-control">
                </div>
                <button class="btn btn-primary">Change password</button>
                <button class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
    <div class="about program-container">
        <div class="CFCore-window-action">
            <div class="title">About cloud fun</div>
            <div class="actions">
                <i
                        class="fa fa-window-minimize action-hide"
                        aria-hidden="true">
                </i>
                <i class="fa fa-window-maximize action-maximize" aria-hidden="true"></i>
                <i style="display: none" class="fa fa-window-restore action-minimize" aria-hidden="true"></i>
                <i class="fa fa-window-close action-close" aria-hidden="true"></i>
            </div>
        </div>
        <div class="main-window">
            Cloud fun it's file social network
            which allow :
            <ul>
                <li>Upload your files</li>
                <li>Install programs and games</li>
                <li>Share files with your friends</li>
                <li>Follow popular clouds</li>
            </ul>
            <a href="#">Documentation</a>
            <br><a href="#">Videos</a>
            <br>Powered by Stanislav Kuryatnik&copy;2017
        </div>
    </div>
    <div id="background" class="program-container">
        <div class="CFCore-window-action">
            <div class="title">Desktop background</div>
            <div class="actions">
                <i
                        class="fa fa-window-minimize action-hide"
                        aria-hidden="true">
                </i>
                <i class="fa fa-window-maximize action-maximize" aria-hidden="true"></i>
                <i style="display: none" class="fa fa-window-restore action-minimize" aria-hidden="true"></i>
                <i class="fa fa-window-close action-close" aria-hidden="true"></i>
            </div>
        </div>
        <div class="main-window">
            <div class="content">
                Content bla bla bla
            </div>
        </div>
    </div>
</div>
<ul class="context-menu">
    <li>Create folder</li>
    <li>Create file</li>
    <li>Paste</li>
    <li onclick="CFcore.get('Launcher').start('file_uploader', true, {path: 'desktop'})">Upload file</li>
    <li onclick="CFcore.get('desktop').components.background.run();">Desktop background</li>
</ul>
<ul class="file-context-menu">
    <li onclick='CFcore.get("desktop").components.shortcuts.contextMenu.open();'>Open</li>
    <li onclick='CFcore.get("desktop").components.shortcuts.contextMenu.cut();'>Cut</li>
    <li onclick='CFcore.get("desktop").components.shortcuts.contextMenu.copy();'>Copy</li>
    <li onclick='CFcore.get("desktop").components.shortcuts.contextMenu.rename();'>Rename</li>
    <li onclick='CFcore.get("desktop").components.shortcuts.contextMenu.delete();'>Delete</li>
    <li onclick='CFcore.get("desktop").components.shortcuts.contextMenu.send();'>Send...</li>
    <li onclick='CFcore.get("desktop").components.shortcuts.contextMenu.properties();'>Properties</li>
</ul>