@keyframes example {
    from {
        left: 20px;
    }
    to {
        left: -290px;
    }
}

.animation {
    animation: example 0.4s;
}

[cfcomponent2] label {
    color: #0173e0;
    font-weight: 700;
}

[cfcomponent2] input[type="text"],
[cfcomponent2] input[type="password"],
[cfcomponent2] input[type="email"] {
    padding: .2rem .75rem;
    border-radius: 0;
    line-height: 1;
}
[cfcomponent2] {
    width: 30%;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: white;
    box-shadow: 4px 5px 15px -4px #000000;
}

[cfcomponent2] .sign-up, [cfcomponent2] .sign-in {
    cursor: pointer;
    margin-left: 10px;
}

[cfcomponent2] .sign-up:hover, [cfcomponent2] .sign-in:hover {
    color: #48b3ff;
}