[cfcomponent11] {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15%;
}

[cfcomponent11] .file_uploader {
    height: 100%;
}

[cfcomponent11] .form-group {
    text-align: center;
    margin-bottom: 0;
}

[cfcomponent11] .progress {
    margin-top: 1em;
}