<div class="file_uploader program-container">
    <div class="CFCore-window-action">
        <div class="title">File uploader</div>
        <div class="actions">
            <i
                    class="fa fa-window-minimize action-hide"
                    aria-hidden="true">
            </i>
            <i class="fa fa-window-maximize action-maximize" aria-hidden="true"></i>
            <i style="display: none" class="fa fa-window-restore action-minimize" aria-hidden="true"></i>
            <i class="fa fa-window-close action-close" aria-hidden="true"></i>
        </div>
    </div>
    <div class="main-window">
        <div class="form-group">
            <input type="file" multiple class="form-control file-input" style="display: none">
            <button class="upload btn btn-primary">Upload</button>
        </div>
        <div class="progress" style="display: none;">
            <div class="progress-bar progress-bar-animated progress-bar-striped bg-info" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
</div>