<form id="sign-in-form" onsubmit="return false;">
    <div class="form-group">
        <label for="sign-in-login">Login</label>
        <input type="text" name="LoginForm[username]" class="form-control" id="sign-in-login">
    </div>
    <div class="form-group">
        <label for="sign-in-password">Password</label>
        <input type="password" name="LoginForm[password]" class="form-control" id="sign-in-password">
    </div>
    <button class="btn btn-primary">Sign in</button>
    <span class="sign-up">Sign up</span>
</form>
<form id="sign-up-form" style="display: none;" onsubmit="return false;">
    <div class="form-group">
        <label for="sign-up-login">Login</label>
        <input type="text" name="SignupForm[username]" class="form-control" id="sign-up-login">
    </div>
    <div class="form-group">
        <label for="sign-up-email">Email</label>
        <input type="text" name="SignupForm[email]" class="form-control" id="sign-up-email">
    </div>
    <div class="form-group">
        <label for="sign-up-password">Password</label>
        <input type="password" name="SignupForm[password]" class="form-control" id="sign-up-password">
    </div>
    <div class="form-group">
        <label for="sign-up-confirm">Password confirm</label>
        <input type="password" name="SignupForm[password_confirm]" class="form-control" id="sign-up-confirm">
    </div>
    <button class="btn btn-primary">Sign up</button>
    <span class="sign-in">Sign in</span>
</form>