html, body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Bla";
    src: "../font/10369.ttf";
}
.wrap {
    font-family: "Bla";
    background: #48b3ff;
    height: inherit;
    overflow: hidden;
}

#welcome-container {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -67px;
}

#welcome-container > .cf-title {
    color: #fff;
    text-shadow: 1px 1px #000;
}

#apps-container {
    overflow: hidden;
    height: 100%;
}
.program-container .main-window {
    padding: 5px 15px;
}

.program-container {
    z-index: 9999;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: white;
}

.CFCore-window-action {
    color: #48b3ff;
    padding: 2px 5px;
    background: linear-gradient(rgba(185,185,185,0.07), grey);
    overflow: hidden;
}

.CFCore-window-action .actions {
    float: right;
}

.CFCore-window-action .title {
    color: #000;
    float: left;
}
.CFCore-window-action:hover {
    cursor: pointer;
}

.component-hidden {
    overflow: visible;
}